body {
  margin: 0;
  padding: 0;
}

table {
  margin: auto;
  width: 400px;
  padding: 1em 3em;
  border-radius: 1em;
  border: 1px solid black;
  box-shadow: 10px 10px 10px gray;
}

caption {
  color: #008000;
  font-size: 2em;
  margin: 1em auto 1ex;
}

input {
  width: 100%;
}

.error-message {
  color: red;
}

button {
  float: right;
}
